$field_hilight_color : white; //#d6e8f7


div.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

nav {
	&.navbar {
		border-radius: 0;
	}
	
	.nav-logo {
		height: 40px;
		margin: 0 10px;
	}

	.navbar-right {
    	margin-right: 0; 
	}
}

section#field-display {

	position: relative;
	box-shadow: 1px 2px 2px black;

	#field-selection {
		position: absolute;
		width: 100%;
		min-height: 100%;
		height: 100%;

		div.table-responsive{
			text-align: center;
			height: 100%;
			overflow: hidden;
			padding: 5px;

			table {
				height: 100%;
				color: white;

				td {
					vertical-align: middle;
					width: 20%;
					height: 20%;
					border: none;

					&.content-region  {

						&.selected {
							border:  2px dashed #7cfc00;
							color: #7cfc00;
						}

						&:hover {
							border:  2px dashed $field_hilight_color;
							cursor: pointer;
						}
					}
				}
			}

			.glyphicon {
				font-size: 2em;
				text-shadow: 2px 1px 2px #222222;
			}

			.plot-title {
				display: block;
			}
		}
	}
}

section#selection-info{

	.close {
		margin: -4px;
	}

	figure {
		margin: 0px;
		text-align: center;
	}

	.info-display {
		text-align: center;
	}

	.drone-image {

		figure {
			border: 1px inset #dddddd;
		    border-bottom: 0px;
		}

		figcaption {
			border: 1px inset #dddddd;
   			border-top: 0px;
		}
	}
}