$field_hilight_color : white; //#d6e8f7

body {
	background-color: #e2e2e2;

		.panel {
		    box-shadow: 0px 2px 1px rgba(0,0,0,0.3);
		}
}

div.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.panel-content {
	border-top: 1px solid #ddd;
	padding-top: 20px;
}

nav {
	&.navbar {
		border-radius: 0;
	}
	
	.nav-logo {
		height: 40px;
		margin: 0 10px;
	}

	.navbar-right {
    	margin-right: 0; 
	}

	.navbar-header {
		margin-top: 10px;
	}
}

section#field-display {

	position: relative;

	.panel-body {
		padding: 5px;
	}

	#field-selection {
		position: absolute;
		width: 100%;
		min-height: 100%;
		height: 100%;

		div.table-responsive{
			height: 100%;
		    width: 98%;
			text-align: center;
			overflow: hidden;
		    padding: 6px 2px;

			table {
				height: 100%;
				color: white;

				td {
					vertical-align: middle;
					width: 20%;
					height: 20%;
					position: relative;
					border: 0px;

					&.content-region  {

						div.plot-delim {
							height: 100%;
							width: 100%;
							position: absolute;
							top:0;
							left: 0;
						    transform: scale(0.1);
						    transition: transform .3s ease-in-out;
						    color: transparent;

							&.hover {
								border:  2px dashed $field_hilight_color;
								color: $field_hilight_color;
								cursor: pointer;
								-webkit-transform: scale(1);
						        -ms-transform: scale(1);
						        transform: scale(1);
							}	

							&.selected {
								border:  2px dashed $field_hilight_color;
								color: $field_hilight_color;
								cursor: pointer;
								transform: scale(1);
							}
						}

						.glyphicon {
							font-size: 2em;
							text-shadow: 2px 1px 2px #222222;
						}

						.plot-title {
							display: block;
							text-shadow: 2px 1px 2px #222222;
						}

					}
				}
			}
		}
	}
}

section#selection-info{

	.info-window {

		.panel-heading {

			.close {
				margin: -4px;
			}

			&:hover {
				cursor: move;
			}

		}

		.color-banding {
			display: block; 
			background: lawngreen; 
			height: 8px;
		}

		.panel-body {

			img, p {

				&.spectrum {
					display: none;
				}

				&.active {
					display: block;
				}
			}

			figure {
				margin: 0px;
				text-align: center;
				border: 1px solid #dddddd;
			}

			.info-display {
				text-align: center;
			}

			.small-control {
				margin-bottom: 15px;

				.input-group {
					margin: auto;
				}
			}

		}

	}
}