body {
  background-color: #e2e2e2; }
  body .panel {
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.3); }

.display-element {
  display: none; }

div.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none; }

.panel-content {
  border-top: 1px solid #ddd;
  padding-top: 20px; }

nav.navbar {
  border-radius: 0; }

nav .nav-logo {
  height: 40px;
  margin: 0 10px; }

nav .navbar-right {
  margin-right: 0; }

nav .navbar-header {
  margin-top: 10px; }

nav .nav-pills > li > a {
  color: #2377ba; }
  nav .nav-pills > li > a:hover, nav .nav-pills > li > a:focus {
    background-color: white; }

nav .nav-pills > li.active > a {
  color: #fff;
  background-color: #2377ba; }
  nav .nav-pills > li.active > a:hover, nav .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #2377ba; }

section#field-display {
  position: relative;
  margin-top: 40px; }
  section#field-display .panel-body {
    padding: 5px; }
  section#field-display #field-display-selection {
    position: absolute;
    top: -42px;
    left: 25px; }
  section#field-display #field-selection {
    position: absolute;
    width: 100%;
    min-height: 100%;
    height: 100%; }
    section#field-display #field-selection div.table-responsive {
      height: 100%;
      width: 98%;
      text-align: center;
      overflow: hidden;
      padding: 6px 2px; }
      section#field-display #field-selection div.table-responsive table {
        height: 100%;
        color: white; }
        section#field-display #field-selection div.table-responsive table td {
          vertical-align: middle;
          width: 10%;
          height: 10%;
          position: relative;
          border: 0px; }
          section#field-display #field-selection div.table-responsive table td.content-region div.plot-delim {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transform: scale(0.1);
            transition: transform .3s ease-in-out;
            color: transparent; }
            section#field-display #field-selection div.table-responsive table td.content-region div.plot-delim.hover {
              border: 2px dashed white;
              color: white;
              cursor: pointer;
              -webkit-transform: scale(1);
              -ms-transform: scale(1);
              transform: scale(1); }
            section#field-display #field-selection div.table-responsive table td.content-region div.plot-delim.selected {
              border: 2px dashed white;
              color: white;
              cursor: pointer;
              transform: scale(1); }
          section#field-display #field-selection div.table-responsive table td.content-region .glyphicon {
            font-size: 2em;
            text-shadow: 2px 1px 2px #222222; }
          section#field-display #field-selection div.table-responsive table td.content-region .plot-title {
            display: block;
            text-shadow: 2px 1px 2px #222222; }

section#selection-info .info-window .panel-heading .close {
  margin: -4px; }

section#selection-info .info-window .panel-heading:hover {
  cursor: move; }

section#selection-info .info-window .color-banding {
  display: block;
  background: lawngreen;
  height: 8px; }

section#selection-info .info-window .panel-body img.spectrum, section#selection-info .info-window .panel-body p.spectrum {
  display: none; }

section#selection-info .info-window .panel-body img.active, section#selection-info .info-window .panel-body p.active {
  display: block; }

section#selection-info .info-window .panel-body figure {
  margin: 0px;
  text-align: center;
  border: 1px solid #dddddd; }

section#selection-info .info-window .panel-body .info-display {
  text-align: center; }

section#selection-info .info-window .panel-body .small-control {
  margin-bottom: 15px; }
  section#selection-info .info-window .panel-body .small-control .input-group {
    margin: auto; }

#drone img.img-responsive {
  margin: auto; }

#hyperspectral figure.row {
  text-align: center; }

input[type=range] {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%; }
